/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* STARTER PACK */

.flexbox{
    display: flex;
}

a{
    display: flex;
    height: 100%;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* BODY */

body{
    background-color: black;
    color: white;
}

/* HEADER */

header{
    align-items: center;
    justify-content: flex-end;
    padding: 5vh 0;
    font-size: 0.9rem;
    min-width: 164px;
}

header > div{
    margin-right: 5px;
    background-color: rgb(60, 60, 60);
    border-radius: 7px;
    padding: 3px 6px;
    height: 30px;
}

header a{
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 100%;
}

header img#little{
    height: 60%;
}

/* MAIN */

main{

    height: calc(100vh - 10vh - 6px - 110px);
    min-height: 500px;/**/
    padding: 0 50px 30px;
    gap: 5px;
    flex-wrap: wrap;
    overflow: auto;
}

main section.card{
    width: calc((1920px - 30px - 100px - 15px) / 7);
    height: calc((1001px - 10vh - 36px - 80px - 30px) / 5);
    margin-bottom: 10px;
    position: relative;
    background-image: url(img/lorem-picsum.jpeg);
    background-size: cover;
    background-position: center;
}

main div{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
}

main img{
    width: 10%;
}

/* FOOTER */

footer{
    background-color: rgb(40, 40, 40);
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    min-width: 960px;
}

footer section{
    height: 80px;
    align-items: center;
}

footer section:not(section:last-child){
    padding: 15px 0;
    gap: 20px;
}

footer section:first-child{
    margin-left: 20px;
}

footer a{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

footer img{
    height: 75%;
}

a.upper{
    position: relative;
    right: 18px;
}

a.upper img{
    height: 35%;
}

a#quit{
    background-color: rgb(70, 70, 70);
}

a#quit p{
    padding: 0 20px;
    color: red;
}

a#quit:hover p{
    text-decoration: underline red;
}