/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* STARTER PACK */

.flexbox{
    display: flex;
}

a{
    display: flex;
    height: 100%;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* BODY */

body{
    background-color: black;
    color: white;
}

/* HEADER */

header{
    align-items: center;
    justify-content: flex-end;
    padding: 5vh 0;
    font-size: 0.9rem;
    border: 1px dashed white; /**/
}

header > div{
    margin-right: 5px;
    background-color: rgb(60, 60, 60);
    border-radius: 7px;
    padding: 3px 6px;
    height: 30px;
}

header a{
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 100%;
}

header img#little{
    height: 70%;
}

/* FOOTER */

footer{
    background-color: rgb(40, 40, 40);
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px dashed white; /**/
}

footer section{
    height: 80px;
    align-items: center;
}

footer section:not(section:last-child){
    padding: 15px 0;
    gap: 20px;
}

footer a{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

footer img{
    height: 75%;
}

a.upper{
    position: relative;
    right: 18px;
}

a.upper img{
    height: 35%;
}
